.joke-row {
    display: flex;
    align-items: center;
    height: 44px;
    border-bottom: 1px solid #B3BEC2;
    cursor: pointer;

    &-item {
        width: 300px;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        color: #16303C;
        padding-left: 12px;
    
        &:first-child {
            width: 336px;
        }
    }
}

.joke-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #EFF4F7;
    padding: 38px 0;
}