<div>
  <div class="header"></div>
  <div class="logo-container">
    <div class="logo-circle">
      <img class="logo" src="assets/images/logo.svg" alt="Chuck Norris Logo">
    </div>
  </div>
  <div class="navigation">
    <button [ngClass]="getNavigationBtnClass('RANDOM')" (click)="appState = 'RANDOM'">Random</button>
    <button [ngClass]="getNavigationBtnClass('SEARCH')" (click)="appState = 'SEARCH'">Search</button>
  </div>
  <ng-container *ngIf="appState === 'RANDOM'; else searchPanel" >
    <random-panel></random-panel>
  </ng-container>
  <ng-template #searchPanel>
    <search-panel></search-panel>
  </ng-template>
</div>
